alembic
blinker
bottle        
click
colorama        
DateTime
distlib
filelock       
Flask
Flask-Migrate   
Flask-MySQL     
Flask-Script    
Flask-SQLAlchemy
greenlet      
iniconfig       
itsdangerous    
Jinja2
Mako
MarkupSafe      
mysqlclient    
packaging     
platformdirs
pluggy
PyMySQL
pytest
python-dotenv
pytz
SQLAlchemy
typing_extensions
virtualenv
Werkzeug
zope.interface